* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.department h1 {
  color: #81434f;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  margin-top: 25px;
  margin-left: 500px;
}

.department h2 {
  color: #81434f;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  margin-top: 25px;
  margin-left: 650px;
}

.break {
  width: 100%;
  background-image: linear-gradient(#055615c5, #c9e0ce00);
  height: 10px;
}

.course-image {
  width: 25%;
  background-color: rgb(211, 196, 199);
  border-radius: 5px;
  margin: 70px;
  margin-left: 200px;
  box-shadow: 2px 2px 10px black;
  cursor: pointer;
}

.images img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

/* .images img:hover {
  transform: skewX(4deg);
} */

.subject-title {
  text-align: center;
}

.current-year {
  text-align: center;
}

.images-flex {
display: flex;
margin-left: 30px;
  /* padding-left: 90px; */
}

/* images starts */

/* .notes .videos button {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  margin-left:300px;
  /* margin-bottom: 15px; */
  /* margin-top: 32px;
  color: #81434f;
 padding: 10px 50px;
  text-align: center;
  font-size: 20px;

}
.notes .videos button{
text-decoration: none;
color: #81434f;

} */
.notes{
  margin-top: 20px;
}

.notes .videos button{
  border-radius: 5px;
  border:0;
  width: 25%;
  font-size: 15px;
  margin: 1rem 18rem;
 /* background: none; */
 padding: 0.7rem 2rem;
 white-space: nowrap;
 box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 backdrop-filter: blur(20px);
 -webkit-backdrop-filter: blur(20px);
 color: #9f4859;
 text-align: center;
 border: 1px solid rgba(255, 255, 255, 0.18);
 cursor: pointer;
 /* padding: 10px; */
}

.notes .videos button:hover{
    border-bottom: 4px solid brown;
    /* border-left:  4px solid brown; */

}




.edit2 h1 {
  text-align: center;
  color: rgba(165, 42, 42, 0.53);
  margin-bottom: 5%;
}


.notes5 .videos5 h3 {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  margin-left: 220px;
  margin-top: 150px;
  color: rgba(203, 154, 154, 0.53);
  padding: 10px 30px;
  text-align: center;
  margin-bottom: -10px !important;

}

.notes5 .videos5 a {
  text-decoration: none;
  font-size: 20px !important ;
  color: rgba(232, 134, 134, 0.925);
}

.notes5 .videos5 a:hover {
  text-decoration: underline;
}

.deleteButton{
  margin-top: 200px;
  margin-right: 60px;
  padding: 10px 25px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  color: rgba(226, 103, 103, 0.925);
  text-align: center;
  font-size: 15px;
}
