
<app-teacher-header></app-teacher-header>
<div class="department">
  <h1 class="heading">{{ getUser.DepartmentFullform }}</h1>
      <h2 class="sub-heading">{{getUser.Yearinwords}}</h2>
</div>
<div *ngFor="let item of getMaterials">

  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img [src]="item.ImagesUrl" alt="image" id="peImg">
      </div>
      <div class="subject-title">
       {{item.SubjectCode}}
       {{item.SubjectName}}
      </div>
      <div class="current-year">
        {{item.Yearnames}}
      </div>
    </div>


    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h2><button (click)="videostatus(item)">Video</button></h2>
      </div>
      <div class="videos">
        <h2><button (click)="notesstatus(item)">Notes</button></h2>
      </div>
      <div class="videos">
        <h2><button (click)="questionstatus(item)">Questions</button></h2>
      </div>
      <div class="videos">
        <h2><button (click)="syllabusstauts(item)">Syllabus</button></h2>
      </div>
    </div>
    <div class="delete">
      <button class="deleteButton" (click)="deleteSubject(item.id)">Delete</button>
    </div>
  </div>
  </div>

<hr><br><br>

  <div class="edit2">
    <h1> {{getUser.Yearinwords}} Lab</h1>
  </div>
  <div *ngFor="let item of getMaterials">

    <div class="images-flex">
      <div class="course-image">
        <div class="images">
          <img [src]="item.ImagesUrl" alt="image" id="subject">
        </div>
        <div class="subject-title">
          {{item.SubjectCode}}
          {{item.SubjectName}}
        </div>
        <div class="current-year">
          {{item.Yearnames}}
        </div>
      </div>
      <div id="display" class="notes5"><br><br>
        <div class="videos5">
          <h3><a target="_blank" href={{item.ManualLink}}>Download Lab Manual</a></h3>
        </div>
      </div>
      <div class="delete">
        <button style="margin-left: 100px;margin-top: 190px;"class="deleteButton" (click)="deleteSubject(item.id)">Delete</button>
      </div>
    </div>
  </div>
<br><br>

