<app-Header></app-Header>
<div class="CSE-First" *ngIf="getUser.department=='CSE'&&getUser.year=='1'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 19130057</p>
        <p>: Nivodhini M K [ME]</p>
        <p>: 9360865813</p>
        <p> : CSE</p>
        <p>: nivomyth@gmail.com</p>
        <p>: First</p>
      </div>
    </div>
  </div>

  <br><br>

  <div class="edit2">
    <h1>First Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/Professional-Ethicspic.jpg" alt="image" id="peImg">
      </div>
      <div class="subject-title">
        18CS021
        Professional-Ethics lab
      </div>
      <div class="current-year">
        First Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>

  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/computernetwrokpic.jpg" alt="image" id="peImg">
      </div>
      <div class="subject-title">
        18CS057
        Computer Netwroks lab
      </div>
      <div class="current-year">
        First Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>

  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>CT/HSN</td>
        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>HSN/BI</td>
        <td colspan="2">PRIEE</td>
      </tr>
      <tr>
        <th>WED</th>
        <td>CT/GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>BD&CC</td>
      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC/HH</td>
      </tr>
      <tr>
        <th>FRI</th>
        <td>CT/BD&CC</td>
        <td>GM</td>
        <td>PE</td>
        <td>GM</td>
        <td>C&NS</td>
        <td colspan="2">BD&CC/GM LAB</td>
      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>


<div class="CSE-Second" *ngIf="getUser.department=='CSE'&&getUser.year=='2'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 1913904</p>
        <p>: Vasuki p [ME]</p>
        <p>: 9842066139</p>
        <p> : CSE</p>
        <p>: vasukip23@gmail.com</p>
        <p>: Second</p>
      </div>
    </div>
  </div>

  <br><br>


  <div class="edit2">
    <h1>Second Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/Entrepreneurship-Developmentpic.jpg" alt="image" id="edImg">
      </div>
      <div class="subject-title">
        18ED022
        Entrepreneurship-Development Lab
      </div>
      <div class="current-year">
        Second Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>

  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/cloudcomputingpic.jpg" alt="image" id="edImg">
      </div>
      <div class="subject-title">
        18CS081
        Cloud Computing Lab
      </div>
      <div class="current-year">
        Second Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>C&NS</td>

        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td>HSN/BI</td>
        <td>HSN/BI</td>
        <td>CT/HSN</td>
        <td colspan="2">PRIEE</td>
      </tr>
      <tr>
        <th>WED</th>
        <td>CT/GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>BD&CC/HH</td>

      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC</td>
      </tr>
      <tr>
        <th>FRI</th>
        <td>CT/BD&CC</td>
        <td>GM</td>
        <td>PE</td>
        <td>GM</td>
        <td>C&NS</td>
        <td colspan="2">BD&CC/GM LAB</td>
      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>

<br><br>
<div class="CSE-Third" *ngIf="getUser.department=='CSE'&&getUser.year=='3'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 1913054</p>
        <p>: Vadivel S [Ph.D]</p>
        <p>: 9787229110</p>
        <p> : CSE</p>
        <p>: Csevadivel@gmail.com</p>
        <p>: Third</p>
      </div>
    </div>
  </div>

  <br><br>


  <div class="edit2">
    <h1>Third Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/mobilecomputingpic.jpg" alt="image" id="mlImg">
      </div>
      <div class="subject-title">
        18CS096
        Machine Learning Lab
      </div>
      <div class="current-year">
        Third Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/javalanguagepic.jpg" alt="image" id="mlImg">
      </div>
      <div class="subject-title">
        18CS089
        Java Programming Lab
      </div>
      <div class="current-year">
        Third Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>C&NS</td>

        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td>HSN/BI</td>
        <td>HSN/BI</td>
        <td>CT/HSN</td>
        <td colspan="2">PRIEE</td>
      </tr>
      <tr>
        <th>WED</th>
        <td>CT/GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>BD&CC/HH</td>

      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC</td>
      </tr>
      <tr>
        <th>FRI</th>
        <td>CT/BD&CC</td>
        <td>GM</td>
        <td>PE</td>
        <td>GM</td>
        <td>C&NS</td>
        <td colspan="2">BD&CC/GM LAB</td>
      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>

<div class="CSE-Four" *ngIf="getUser.department=='CSE'&&getUser.year=='4'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 1913089</p>
        <p>: Sri Hari V [BE]</p>
        <p>: 7548843968</p>
        <p> : CSE</p>
        <p>: srihari753@gmail.com</p>
        <p>: Final</p>
      </div>
    </div>
  </div>

  <br><br>
  <div class="edit2">
    <h1>Final Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/cryptography.png" alt="image" id="osImg">
      </div>
      <div class="subject-title">
        18CS009
        Cryptography Lab
      </div>
      <div class="current-year">
        Final Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/operating system.jpg" alt="image" id="osImg">
      </div>
      <div class="subject-title">
        18CS098
        Operating Systems Lab
      </div>
      <div class="current-year">
        Final Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>C&NS</td>

        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td>HSN/BI</td>
        <td>HSN/BI</td>
        <td>CT/HSN</td>
        <td colspan="2">PRIEE</td>
      </tr>
      <tr>
        <th>WED</th>
        <td>CT/GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>BD&CC/HH</td>

      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC</td>
      </tr>
      <tr>
        <th>FRI</th>
        <td>CT/BD&CC</td>
        <td>GM</td>
        <td>PE</td>
        <td>GM</td>
        <td>C&NS</td>
        <td colspan="2">BD&CC/GM LAB</td>
      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>


<div class="ECE-First" *ngIf="getUser.department=='ECE'&&getUser.year=='1'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 1913066</p>
        <p>: Pradeep S [ME]</p>
        <p>: 9876543212</p>
        <p> : ECE</p>
        <p>: pradeppabi2807@gmail.com</p>
        <p>: First</p>
      </div>
    </div>
  </div>

  <br><br>

  <div class="edit2">
    <h1>First Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/algebra.png" alt="image">
      </div>
      <div class="subject-title">
        18ECE077
        Linear Algebra Lab
      </div>
      <div class="current-year">
        First Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>

  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/Microprocessor.jpg" alt="image">
      </div>
      <div class="subject-title">
        18ECE067
        Microprocessor Lab
      </div>
      <div class="current-year">
        First Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>

  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>CT/HSN</td>
        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>HSN/BI</td>
        <td colspan="2">PRIEE</td>
      </tr>
      <tr>
        <th>WED</th>
        <td>CT/GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>BD&CC</td>
      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC/HH</td>
      </tr>
      <tr>
        <th>FRI</th>
        <td>CT/BD&CC</td>
        <td>GM</td>
        <td>PE</td>
        <td>GM</td>
        <td>C&NS</td>
        <td colspan="2">BD&CC/GM LAB</td>
      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>

<div class="ECE-Second" *ngIf="getUser.department=='ECE'&&getUser.year=='2'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 1913084</p>
        <p>: Saran S B [ph.D]</p>
        <p>: 9842566134</p>
        <p> : ECE</p>
        <p>: saransb009@gmail.com</p>
        <p>: Second</p>
      </div>
    </div>
  </div>

  <br><br>


  <div class="edit2">
    <h1>Second Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/VLSI.jpg" alt="image">
      </div>
      <div class="subject-title">
        18ECE012
        VLSI Lab
      </div>
      <div class="current-year">
        Second Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>

  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/analog.jpg" alt="image">
      </div>
      <div class="subject-title">
        18ECE065
        Analog and Digital Electronics Lab
      </div>
      <div class="current-year">
        Second Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>C&NS</td>

        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td>HSN/BI</td>
        <td>HSN/BI</td>
        <td>CT/HSN</td>
        <td colspan="2">PRIEE</td>
      </tr>
      <tr>
        <th>WED</th>
        <td>CT/GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>BD&CC/HH</td>

      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC</td>
      </tr>
      <tr>
        <th>FRI</th>
        <td>CT/BD&CC</td>
        <td>GM</td>
        <td>PE</td>
        <td>GM</td>
        <td>C&NS</td>
        <td colspan="2">BD&CC/GM LAB</td>
      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>

<div class="ECE-Third" *ngIf="getUser.department=='ECE'&&getUser.year=='3'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 1913075</p>
        <p>: Reshma S [Ph.D]</p>
        <p>: 9842310129</p>
        <p> : ECE</p>
        <p>: reshmaprakathiece34@gmail.com</p>
        <p>: Third</p>
      </div>
    </div>
  </div>

  <br><br>


  <div class="edit2">
    <h1>Third Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/circuit.jpg" alt="image">
      </div>
      <div class="subject-title">
        18ECE013
        Integrated Circuits Lab
      </div>
      <div class="current-year">
        Third Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/antenna.jpg" alt="image">
      </div>
      <div class="subject-title">
        18ECE015
        Antenna and Wave Propagation Lab
      </div>
      <div class="current-year">
        Third Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>C&NS</td>

        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td>HSN/BI</td>
        <td>HSN/BI</td>
        <td>CT/HSN</td>
        <td colspan="2">PRIEE</td>
      </tr>
      <tr>
        <th>WED</th>
        <td>CT/GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>BD&CC/HH</td>

      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC</td>
      </tr>
      <tr>
        <th>FRI</th>
        <td>CT/BD&CC</td>
        <td>GM</td>
        <td>PE</td>
        <td>GM</td>
        <td>C&NS</td>
        <td colspan="2">BD&CC/GM LAB</td>
      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>

<div class="ECE-Four" *ngIf="getUser.department=='ECE'&&getUser.year=='4'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 1913055</p>
        <p>: Shereef[BE]</p>
        <p>: 7548843968</p>
        <p> : ECE</p>
        <p>: srishereef753@gmail.com</p>
        <p>: Final</p>
      </div>
    </div>
  </div>

  <br><br>
  <div class="edit2">
    <h1>Final Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/python.jpeg" alt="image">
      </div>
      <div class="subject-title">
        18ECE051
        Python Programming Lab
      </div>
      <div class="current-year">
        Final Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/embedded System.jpeg" alt="image">
      </div>
      <div class="subject-title">
        18ECE070
        Embedded System Lab
      </div>
      <div class="current-year">
        Final Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>C&NS</td>

        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td>HSN/BI</td>
        <td>HSN/BI</td>
        <td>CT/HSN</td>
        <td colspan="2">PRIEE</td>
      </tr>
      <tr>
        <th>WED</th>
        <td>CT/GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>BD&CC/HH</td>

      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC</td>
      </tr>
      <tr>
        <th>FRI</th>
        <td>CT/BD&CC</td>
        <td>GM</td>
        <td>PE</td>
        <td>GM</td>
        <td>C&NS</td>
        <td colspan="2">BD&CC/GM LAB</td>
      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>

<div class="EEE-First" *ngIf="getUser.department=='EEE'&&getUser.year=='1'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 1913107</p>
        <p>: Yaazhini [BE]</p>
        <p>: 6880354530</p>
        <p> : EEE</p>
        <p>: yaazhiniperiyasamy1811@gmail.com</p>
        <p>: First</p>
      </div>
    </div>
  </div>

  <br><br>

  <div class="edit2">
    <h1>First Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/electric-circuit-analysis.webp" alt="image">
      </div>
      <div class="subject-title">
        18EEE055
        Electical circuit and Analysis Lab
      </div>
      <div class="current-year">
        First Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>

  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/analog-electronics.jpg" alt="image">
      </div>
      <div class="subject-title">
        18EEE012
        Analog Electronics
      </div>
      <div class="current-year">
        First Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>

  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>CT/HSN</td>
        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>HSN/BI</td>
        <td colspan="2">PRIEE</td>
      </tr>
      <tr>
        <th>WED</th>
        <td>CT/GM</td>
        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>BD&CC</td>
      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC/HH</td>
      </tr>
      <tr>
        <td>GM</td>
        <td>PE</td>
        <td>GM</td>
        <th>FRI</th>
        <td>CT/BD&CC</td>
        <td>C&NS</td>
        <td colspan="2">BD&CC/GM LAB</td>
      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>

<div class="EEE-Second" *ngIf="getUser.department=='EEE'&&getUser.year=='2'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 1913107</p>
        <p>: Yavanika V [ph.D]</p>
        <p>: 9899927107</p>
        <p> : EEE</p>
        <p>: yavanika2805@gmail.com</p>
        <p>: Second</p>
      </div>
    </div>
  </div>

  <br><br>


  <div class="edit2">
    <h1>Second Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/circuit and systems.jpg" alt="image">
      </div>
      <div class="subject-title">
        18EEE107
        Circuits and Systems Lab
      </div>
      <div class="current-year">
        Second Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>

  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/Microcontroller.jpg" alt="image">
      </div>
      <div class="subject-title">
        18EEE106
        Microcontroller Lab
      </div>
      <div class="current-year">
        Second Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>C&NS</td>

        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td>HSN/BI</td>
        <td>HSN/BI</td>
        <td>CT/HSN</td>
        <td colspan="2">PRIEE</td>
      </tr>
      <tr>
        <th>WED</th>
        <td>CT/GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>BD&CC/HH</td>

      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC</td>
      </tr>
      <tr>
        <th>FRI</th>
        <td>CT/BD&CC</td>
        <td>GM</td>
        <td>PE</td>
        <td>GM</td>
        <td>C&NS</td>
        <td colspan="2">BD&CC/GM LAB</td>
      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>

<div class="EEE-Third" *ngIf="getUser.department=='EEE'&&getUser.year=='3'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 1913505</p>
        <p>: Shivaraja M [ME]</p>
        <p>: 9842310129</p>
        <p> : ECE</p>
        <p>: reshmaprakathiece34@gmail.com</p>
        <p>: Third</p>
      </div>
    </div>
  </div>

  <br><br>


  <div class="edit2">
    <h1>Third Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/power electronics.jpeg" alt="image">
      </div>
      <div class="subject-title">
        18EEE01
        Power Electronics Lab
      </div>
      <div class="current-year">
        Third Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/transmission.jpeg" alt="image">
      </div>
      <div class="subject-title">
        18EEE10
        Transmission and Distribution Lab
      </div>
      <div class="current-year">
        Third Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>C&NS</td>

        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td colspan="2">PRIEE</td>
        <td>HSN/BI</td>
        <td>HSN/BI</td>
        <td>CT/HSN</td>
      </tr>
      <tr>
        <th>WED</th>
        <td>CT/GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>BD&CC/HH</td>

      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC</td>
      </tr>
      <tr>
        <th>FRI</th>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>CT/BD&CC</td>
        <td>GM</td>
        <td>PE</td>
        <td>GM</td>
        <td>C&NS</td>

      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>

<div class="EEE-Four" *ngIf="getUser.department=='EEE'&&getUser.year=='4'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 1913510</p>
        <p>: Vignesh U[ME]</p>
        <p>: 8675231289</p>
        <p>: EEE</p>
        <p>: vigneshshankar23@gmail.com</p>
        <p>: Final</p>
      </div>
    </div>
  </div>

  <br><br>
  <div class="edit2">
    <h1>Final Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/instruments.jpg" alt="image">
      </div>
      <div class="subject-title">
        18EEE14
        Electrical measurements and instrumentation
      </div>
      <div class="current-year">
        Final Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/hybird vehicles.png" alt="image">
      </div>
      <div class="subject-title">
        18EEE10
        Electric and hybrid vehicles
      </div>
      <div class="current-year">
        Final Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>C&NS</td>

        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td>HSN/BI</td>
        <td>HSN/BI</td>
        <td>CT/HSN</td>
        <td colspan="2">PRIEE</td>
      </tr>
      <tr>

        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>BD&CC/HH</td>
        <th>WED</th>
        <td>CT/GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>

      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td>PE</td>
        <td>GM</td>
        <td>C&NS</td>
        <td colspan="2">BD&CC/GM LAB</td>
      </tr>
      <tr>
        <th>FRI</th>
        <td>CT/BD&CC</td>
        <td>GM</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC</td>

      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>

<div class="IT-First" *ngIf="getUser.department=='IT'&&getUser.year=='1'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 1913109</p>
        <p>: Vijay M [ME]</p>
        <p>: 9210384756</p>
        <p> : IT</p>
        <p>: Vijaym123@gmail.com</p>
        <p>: First</p>
      </div>
    </div>
  </div>

  <br><br>

  <div class="edit2">
    <h1>First Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/C programpic.png" alt="image">
      </div>
      <div class="subject-title">
        18IT088
        C Programming Lab
      </div>
      <div class="current-year">
        First Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>

  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/c++languagepic.png" alt="image">
      </div>
      <div class="subject-title">
        18IT090
        C++ Programming Lab
      </div>
      <div class="current-year">
        First Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>

  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>CT/HSN</td>
        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>HSN/BI</td>
        <td colspan="2">PRIEE</td>
      </tr>
      <tr>
        <th>WED</th>
        <td>CT/GM</td>
        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>BD&CC</td>
      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC/HH</td>
      </tr>
      <tr>
        <td>GM</td>
        <td>PE</td>
        <td>GM</td>
        <th>FRI</th>
        <td>CT/BD&CC</td>
        <td>C&NS</td>
        <td colspan="2">BD&CC/GM LAB</td>
      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>

<div class="IT-Second" *ngIf="getUser.department=='IT'&&getUser.year=='2'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 191356</p>
        <p>: Mugesh S [ph.D]</p>
        <p>: 9685743423</p>
        <p> : IT</p>
        <p>: mugeshs345@gmail.com</p>
        <p>: Second</p>
      </div>
    </div>
  </div>

  <br><br>


  <div class="edit2">
    <h1>Second Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/Data structure.png" alt="image">
      </div>
      <div class="subject-title">
        18IT075
        Data Structures and Algorithms
      </div>
      <div class="current-year">
        Second Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>

  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/agilemethodologypic.png" alt="image">
      </div>
      <div class="subject-title">
        18IT066
        Agile Methodology
      </div>
      <div class="current-year">
        Second Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>C&NS</td>

        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td>HSN/BI</td>
        <td>HSN/BI</td>
        <td>CT/HSN</td>
        <td colspan="2">PRIEE</td>
      </tr>
      <tr>
        <th>WED</th>
        <td>CT/GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>BD&CC/HH</td>

      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC</td>
      </tr>
      <tr>
        <th>FRI</th>
        <td>CT/BD&CC</td>
        <td>GM</td>
        <td>PE</td>
        <td>GM</td>
        <td>C&NS</td>
        <td colspan="2">BD&CC/GM LAB</td>
      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>

<div class="IT-Third" *ngIf="getUser.department=='IT'&&getUser.year=='3'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 1913092</p>
        <p>: Subramani P [ME]</p>
        <p>: 9423108001</p>
        <p> : IT</p>
        <p>: crazysanty67@gmail.com</p>
        <p>: Third</p>
      </div>
    </div>
  </div>

  <br><br>


  <div class="edit2">
    <h1>Third Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/telecommunication.webp" alt="image">
      </div>
      <div class="subject-title">
        18IT095
        Telecommunications  Lab
      </div>
      <div class="current-year">
        Third Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/system and analysis.webp" alt="image">
      </div>
      <div class="subject-title">
        18IT046
        System Analysis and Design  Lab
      </div>
      <div class="current-year">
        Third Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>C&NS</td>

        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td colspan="2">PRIEE</td>
        <td>HSN/BI</td>
        <td>HSN/BI</td>
        <td>CT/HSN</td>
      </tr>
      <tr>
        <th>WED</th>
        <td>CT/GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>
        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>BD&CC/HH</td>

      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC</td>
      </tr>
      <tr>
        <th>FRI</th>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>CT/BD&CC</td>
        <td>GM</td>
        <td>PE</td>
        <td>GM</td>
        <td>C&NS</td>

      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>

<div class="IT-Four" *ngIf="getUser.department=='IT'&&getUser.year=='4'">
  <div class="edit">
    <h2>Advisor Details</h2>
    <div class="container">
      <div class="register1">
        <p>Register </p>
        <p>Name </p>
        <p>Phone Number </p>
        <p>Department</p>
        <p>Email Id </p>
        <p>Year of Handling </p>
      </div>
      <div class="register2">
        <p>: 1913045</p>
        <p>: Keerthana  V[ME]</p>
        <p>: 9234567678</p>
        <p>: IT</p>
        <p>: keerthu45@gmail.com</p>
        <p>: Final</p>
      </div>
    </div>
  </div>

  <br><br>
  <div class="edit2">
    <h1>Final Year Lab</h1>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/software engineering.jpg" alt="image">
      </div>
      <div class="subject-title">
        18IT055
        Software Engineering  Lab
      </div>
      <div class="current-year">
        Final Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="images-flex">
    <div class="course-image">
      <div class="images">
        <img src="../../assets/computer_multimedia.jpg" alt="image">
      </div>
      <div class="subject-title">
        18IT046
        Graphics and Multi-Media  Lab
      </div>
      <div class="current-year">
        Final Year
      </div>
    </div>
    <div id="display" class="notes"><br><br>
      <div class="videos">
        <h3><a href="">Download Lab Manual</a></h3>
      </div>
    </div>
  </div>
  <div class="edit2">
    <h1>TimeTable</h1>
  </div><br><br>
  <div class="table">
    <table>
      <tr>
        <th>TIME & DAY </th>
        <th>09.00 a.m. To 09.50 a.m.</th>
        <th>09.50 a.m To 10.40 a.m.</th>
        <th>10.40 a.m. To 10.55 a.m.</th>
        <th>10.55 a.m.To 11.40 a.m.</th>
        <th>11.40 a.m. To 12.30 p.m.</th>
        <th>12.30 p.m. To 1.30 p.m. </th>
        <th>1.30 p.m. To 2.20 p.m.</th>
        <th>2.20 p.m.To 3.10 p.m.</th>
        <th>3.10 p.m. To 4.00 .p.m</th>
        <th>After Four </th>
      </tr>
      <tr>
        <th>MON</th>
        <td>C&NS</td>

        <td>PE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">BREAK</td>
        <td>C&NS</td>
        <td>GM</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY LUNCH </td>
        <td colspan="3">PRIEE</td>
        <td rowspan="5" style="background: rgba(214, 203, 200, 0.405);">HAPPY EVENING</td>
      </tr>
      <tr>
        <th>TUE</th>
        <td>CT/C&NS</td>
        <td>GM</td>
        <td>HSN/BI</td>
        <td>HSN/BI</td>
        <td>CT/HSN</td>
        <td colspan="2">PRIEE</td>
      </tr>
      <tr>

        <td>BD&CC</td>
        <td>SSD/LIB</td>
        <td>PE</td>
        <td>BD&CC/HH</td>
        <th>WED</th>
        <td>CT/GM</td>
        <td>HSN/BI</td>
        <td>C&NS</td>

      </tr>
      <tr>
        <th>THU</th>
        <td>CT/PE</td>
        <td>HSN/BI</td>
        <td>PE</td>
        <td>GM</td>
        <td>C&NS</td>
        <td colspan="2">BD&CC/GM LAB</td>
      </tr>
      <tr>
        <th>FRI</th>
        <td>CT/BD&CC</td>
        <td>GM</td>
        <td colspan="2">BD&CC/GM LAB</td>
        <td>BD&CC</td>
        <td>PE</td>
        <td>BD&CC</td>

      </tr>
      <tr>
        <th>SAT</th>
        <td colspan="11" rowspan="2" style="background: rgba(214, 203, 200, 0.405);">HAPPY WEEK
          END</td>
      </tr>
      <tr>
        <th>SUN</th>
      </tr>
    </table>
  </div>
  <br><br>
</div>
<app-footer />
