<app-Header />
<!-- body of the page starts -->

<!-- pop-up-session starts-->
<br><br>
<div class="pop-up-container" *ngIf="popup">
  <i class="fas fa-times" (click)="closepopup()"></i>
  <div class="pop-up-content">
  <h1>Hai !! Studyard Welcomes You <i class="fa-sharp fa-solid fa-face-laugh"></i></h1><br>
  <h2 class="heading">“We learn from failure, not from success!”</h2>
  <br><h3>Here few notes are uploded <br><br> Please view the notes and enjoy reading</h3>
</div>
</div>

<!-- pop-up-session endss-->


<div class="body-content">

  <div class="imagess">
    <img
      src="https://img.freepik.com/free-photo/front-view-young-beautiful-lady-red-t-shirt-black-jeans-holding-different-copybooks-files-smiling-with-bag-white_140725-18639.jpg?w=1060&t=st=1684051141~exp=1684051741~hmac=4268b42dad74d80700c1a0c2c55f2a62c7b48698b46167d4f730fc358655f139"
      alt="images">
  </div>
  <!-- <img id="logoimage" src="../Static/images/My project.png" onmouseover="logobig(this)" onmouseout="logosmall(this)"
      alt="image" width="70px" height="70px"><br><br><br> -->
  <h1><br><br>BUILD EDUCATION<br>&nbsp;&nbsp;WEBSITE USING<br>&nbsp;&nbsp;&nbsp;</h1>
  <div class="span">
    <span>Studyard</span>

  </div>
  <div class="cap" style="margin-top: -2%;font-size: 25px;margin-left: 28%;">
    <i class="fa fa-graduation-cap" aria-hidden="true"></i>

  </div>
  <!--
  <h2> WELCOMES YOU !...</h2><br><br><br>
  <p><b>" Today is a great day to learn something new !..."</b></p><br><br><br><br><br><br><br> -->
</div><!-- body of the page ends -->

<!-- student admin teacher section starts -->
<!-- <div class="break"></div><br><br><br></div> --><br><br><br><br><br><br><br>
<p class="quotes"><b>" <i class="fa-solid fa-users"></i>We can able to learn together even when we are apart !!..."</b>
</p><br><br>
<div class="home-container">
  <div class="teacher">
    <div class="Student-image">
      <img src="../../assets/student.jpg" alt="image">
    </div>
    <br>
    <div class="Student-content">
      <div class="heading1"> Student</div>
      <ul>
        <li><i class="fa-solid fa-registered"></i>&nbsp;Admin registered</li>
        <li><i class="fa-solid fa-user"></i>&nbsp;Login</li>
        <li><i class="fa-solid fa-pen-to-square"></i>&nbsp;Get notes</li>
        <li><i class="fa-sharp fa-solid fa-list-check"></i>&nbsp;Syllabus</li>
        <li><i class="fa-sharp fa-solid fa-question"></i>&nbsp;Get old questions</li>
        <li><i class="fa-sharp fa-solid fa-book"></i>&nbsp;View timetable</li>
        <li><i class="fa-sharp fa-solid fa-comment">&nbsp;</i>Get lab manual</li>
      </ul>
    </div>
  </div>
  <br><br>
  <div class="teacher">
    <div class="Student-image">
      <img src="../../assets/teacher.jpg" id="teacher" alt="image">
    </div>
    <br>
    <div class="Student-content">
      <div class="heading1"> Teacher</div>
      <ul>
        <li><i class="fa-solid fa-registered"></i>&nbsp;Admin registered</li>
        <li><i class="fa-solid fa-user"></i>&nbsp;Login</li>
        <li><i class="fa-solid fa-pen-to-square"></i>&nbsp;Give notes</li>
        <li><i class="fa-sharp fa-solid fa-list-check"></i>&nbsp;Post syllabus</li>
        <li><i class="fa-sharp fa-solid fa-question"></i>&nbsp;Post old questions</li>
        <li><i class="fa-sharp fa-solid fa-book"></i> &nbsp;Post timetable</li>
        <li><i class="fa-sharp fa-solid fa-comment"></i>&nbsp;Post lab Manual</li>
      </ul>
    </div>
  </div>
  <br><br>
  <!-- <div class="teacher">
      <div class="Student-image">
        <img src="../Static/images/admin.jpg" id="teacher" alt="image">
      </div>
      <br> -->
  <!-- <div class="Student-content">
        <div class="heading1"> I am a Administrator</div>
        <ul>
          <li><i class="fa-solid fa-user"></i>&nbsp;Login</li>
          <li><i class="fa-solid fa-user-graduate"></i>&nbsp;Add student</li>
          <li><i class="fa-solid fa-chalkboard-user"></i>&nbsp;Add teacher</li>
          <li><i class="fa-solid fa-users"></i>&nbsp;Create username</li>
          <li><i class="fa-solid fa-lock"></i>&nbsp;Create password</li>
          <li><i class="fa-solid fa-pen-nib"></i>&nbsp;Update</li>
          <li><i class="fa-sharp fa-solid fa-comment">&nbsp;</i>Ask feedback</li>
        </ul>
      </div> -->
</div>
<br><br><br><br>
<!-- student admin teacher section ends -->
<!-- details section -->
<p class="quotes" style="margin-left: 250px;"><b>"Our Vision and Mission !...."</b><br><br>
<div class="vision-mission">

  <div class="vision">
    <img src="../../assets/mission.svg" width="28%" height="28%" alt="image">

    <div class=" vission-msg">
      <h2> Our Mission </h2>
      &nbsp;&nbsp;&nbsp; <p>Our mission is to build a thriving family of satisfied customers by delivering them
        high-quality services that
        they can rely on. We believe in identifying the core issues and presenting precise solutions to the
        fundamental
        problems. This approach has allowed us to develop ERP software with comprehensive features, extreme
        capabilities,
        and intuitive interface. Thanks to quick operations the institutes can immediately start using our ERP
        software
        without disturbing their regular schedule or going through a tedious learning curve.</p>
    </div>
  </div>
  <div class="mission">
    <img src="../../assets/vision.svg" width="28%" height="28%" alt="image">
    <div class="mission-msg">
      <h2> Our Vision </h2>
      &nbsp;&nbsp;&nbsp;<p> SMMS will empower the institutes to multiply their productivity and eliminate performance
        gaps by connecting every
        point of access. It results in instant communication, better team coordination, and stronger analytical
        capabilities. With minimal efforts and maximum output, the institutes can expect a robust growth while
        ensuring
        the all-round development of students.</p>
    </div>
  </div>
</div>
<br><br>
<p class="quotes"><b>"A teacher takes a hand opens a mind & <i class="fa-solid fa-heart"></i> touches a heart
    !..."</b></p><br><br><br><br>
<div class="aboutadmin">
  <div class="admin">
    <img src="../../assets/admin-frnd.svg" width="50%" height="50%" alt="images">

    <h3>Admin friendly software</h3><br>
    <p>
      &nbsp;&nbsp;&nbsp; Our friendly Software allows admins to tackle multiple aspects like subject management,
      student growth, exam details,timetables and laboratary without switching between different or visibility
      options/??
    </p>
  </div>
  <div class="zero-stress">
    <img src="../../assets/zero-stress.svg" width="50%" height="50%" alt="images">

    <h3>Zero stress process</h3><br>
    <p> &nbsp;&nbsp;&nbsp;Our neat front end makes it easier for the admin,students and parents to quickly
      use the software without going through any tedious or complex processes thus taking
      the stress out of the process.
    </p>
  </div>
  <div class="frnd-interface">
    <img src="../../assets/frnd interface.svg" width="50%" height="50%" alt="images">
    <h3>Friendly interface for teachers and students</h3><br>
    <p> &nbsp;&nbsp;&nbsp; Our software enables the teachers to take the digitial classes without going
      through steep learning curve and the students are also encouraged to participate
      more actively in group discussion that helps in their overall development.
    </p>
  </div>
</div>

<br><br><br><br>

<section class="details-container">
  <div class="icons">
    <i class="fa-solid fa-user-graduate"></i>
    <h3>1000 +</h3>
    <p>Students</p>
  </div>

  <div class="icons">
    <i class="fa-solid fa-chalkboard-user"></i>
    <h3>100 +</h3>
    <p>Faculties</p>
  </div>

  <div class="icons">
    <i class="fa-solid fa-bookmark"></i>
    <h3>150 +</h3>
    <p>Subjects</p>
  </div>

  <div class="icons">
    <i class="fa-solid fa-book"></i>
    <h3>200 +</h3>
    <p> Notes</p>
  </div>
</section>

<br><br><br><br><br>


<app-footer></app-footer>



<!-- body of the page ends -->
