<!-- footer section -->
<div class="foot-division">
  <div class="footer-content">
    <div class="division1">
      <h1>Studyard</h1><br>
      <p>"One teacher, One pen, one <br>book can change the World <i class="fa-solid fa-globe"></i> !!..."
    </div>
  </div>
  <div class="footer-content">
    <div class="division2">
      <h3>Quick links</h3>
      <ul class="ul-division">
        <li><a href="/Teacher-Homepage"><i class="fa-solid fa-house-user"></i>&numsp;Home</a></li>
        <li><a href="/Teacher-Aboutpage"><i class="fa-solid fa-users"></i>&numsp;About</a></li>
        <li><a href="/Materialspage"><i class="fa-solid fa-image"></i>&numsp;Materials</a></li>
        <li><a href="/Teacher-Studentpage"><i class="fa-solid fa-user"></i>&numsp;Students </a></li>
        <li><a href="/Teacher-Contactpage"><i class="fa-solid fa-phone"></i>&numsp;Contact</a></li>
        <li><a href="/Teacher-Profilepage"><i class="fa-solid fa-table"></i>&numsp;Profile</a></li>
        <!-- <li><a href="/Indexpage"><i class="fa-solid fa-right-from-bracket"></i>&numsp;Logout</a></li> -->
        <br>
      </ul>
    </div>
  </div>

  <div class="footer-content">
    <div class="division3">
      <h3>Contact info</h3>
      <div class="contact">
        <span class="icon"><i class="fa-solid fa-phone"></i> 9842066139<br></span>
        <span class="icon"><i class="fa-solid fa-envelope"></i>mythilithambi1210@gmail.com<br></span>
        <span class="icon"><i class="fa-solid fa-location-pin"></i> Salem,Tamilnadu,637102</span>
      </div>
    </div>
  </div>
</div>
<footer class="index-footer">
  <div class="copyrights">
    <p>Copyright<i class="fa-solid fa-copyright"></i> Mythili | All Rights Reserved</p>
  </div>
</footer>
