#add{
  margin-left: 43rem;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: rgb(236, 171, 86);
  border-radius: 0.5rem;
  background-color: rgba(187, 187, 174, 0.293);
  }


  table{
    width:80%
  }
  table,th,tr,td{
    margin-left: 10%;
    /* width: 50%;  */
    margin-top: 20px;
  }
  table th{
   height: 20px;
  /* border: 2px solid; */
  height: 50px;
  font-size: 20px;
  background-color: rgb(247, 247, 233);
  }
  table tr{
    background-color: rgba(187, 187, 174, 0.293);
  }
  table{
    border: 2px solid rgb(223, 223, 210);
  }
  h2{
  text-align: center;
  }

  /* *{
    margin-top: 50px;
  } */


  .body {
    text-align: center;
    border: 2px solid;
    margin-left: 17%;
    margin-right: 200px;
    margin-bottom: 5%;
    /* padding-bottom: 50px; */
    margin-top: 8%;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
  }

  /* h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 30px;
  } */
  .register {
    display: flex;
    text-align: center;
  }

  .formreg {
    margin-left: 50px;
    margin-right: 50px;
    /* padding-left: 50px; */
  }

  .register span {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
  }

  .teacherBox1 input {
    margin-left: 15px;
    width: 243px;
    height: 35px;
    /* border-radius: 5px; */
    padding-left: 10px;
  }

  .teacherBox2 span {
    margin-left: 100px;
  }

  .teacherBox2 input {
    margin-left: 44px;
    width: 250px;
    height: 35px;
    /* border-radius: 5px; */
    padding-left: 10px;
  }

  #Depart1 {
    margin-left: 60px;
    height: 40px;
    width: 260px;
    /* border-radius: 5px; */
    padding-left: 10px;
    outline: none;
  }

  .teacherBox3 span {
    margin-left: 60px;
  }

  #Depart2 {
    margin-left: 25px;
    height: 40px;
    width: 265px;
    /* border-radius: 5px; */
    padding-left: 20px;
  }

  .teacherBox4 input {
    margin-left: 110px;
    width: 245px;
    height: 35px;
    /* border-radius: 5px; */
    padding-left: 10px;
  }

  .teacherBox5 span {
    margin-left: 50px;
  }

  .teacherBox5 input {
    margin-left: 15px;
    width: 250px;
    height: 35px;
    /* border-radius: 5px; */
    padding-left: 10px;
  }

  .teacherBox6 input {
    margin-left: 70px;
    width: 245px;
    height: 35px;
    /* border-radius: 5px; */
    padding-left: 10px;
  }

  .teacherBox7 span {
    margin-left: 19px;
  }

  .teacherBox7 input {
    margin-left: 15px;
    width: 253px;
    height: 35px;
    /* border-radius: 5px; */
    padding-left: 5px;
  }
 
  .button button{
    width: 120px;
    height: 33px;
    /* border-radius: 5px; */
    font-size: 17px;
  }
  button:hover{
    background-color: rgb(214, 206, 206);
  }
  .back{
    margin-top: 3%;
    margin-left: 10%;

  }
  .back i{
   font-size: 40px;
   color: black;
  }
  .alert p{
    color: red;
    font-size: 1rem;
  }
  .alert{
    margin-top: -4rem;
    margin-left: 12rem;
    display: flex;
    position: absolute;
  }

  .edit{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
    margin-top: 50px;
    padding: 5px;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 1.4rem;
  }
  /* .form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 5% 5% 15%;
    font-weight: bold;
  }
  /* .register {
    text-align: center;
  } */
  .edit button
  {
    margin-left: 40%;
    padding: 1.9%;
    border-radius: 3px;
   margin-bottom: 5%;
   font-size: 15px;
  }

   input , select{
    margin-bottom: 50px;
  }

  #save
  {
   border-radius: 5%;
   /* background-color: rgba(220, 220, 153, 0.293); */
   /* font-size: 1rem; */
  }
  #save1{
    padding: 0.4rem 2.2rem;
    font-size: 1rem;
    /* background-color: rgba(187, 187, 174, 0.293); */
    margin-top: 10px;
    width: 120px;
    height: 33px;
    /* border-radius: 5px; */
  }
