

<div class="body">
    <table >
        <!-- table row for the welcome message and pic -->
        <tr class="row1">
            <td class="column1">
                <img  src="../../assets/download.png" alt="avatar" width="115" height="115" /><br><br>
                <p style="color:#556A6F; font-size:24px; font-weight: 600;"> Welcome to Studyard!</p><br>
                <p style="text-align:center; margin:0; padding:0;  padding-left:135.5px; padding-right:135.5px; color:#979CAD;
                 font-size: 16px; font-family:Helvetica, sans-serif; font-weight:100;">
                 We are excited to have you with us.Unlock your potential with our educational resources! </p>
            </td>
            <!-- table row for the username and password container -->
        </tr>

        <!-- table row for the contact support and login buttons -->
        <tr>
          <td>
        <p style="text-align:center; margin:0; padding:0;  padding-left:135.5px; padding-right:135.5px;
        color:#979CAD; font-size: 16px; font-family:Helvetica, sans-serif; font-weight:100;">
        Education is the most powerful weapon which you can use to change the world.-Nelson Mandela</p>
      <br><br>
       <a class="btn" routerLink="/Homepage" onclick="logout()">Get Started</a>
      </td></tr>

        <!-- table row for the Thank you message -->
        <tr>
            <td class="column2">

                <span style=" display: block; font-size: 15px; color: #a5c0c7; font-weight: 100;"><p>Thank you,</p></span><br>

                <span style=" display: block; font-size: 15px; color: #a5c0c7; font-weight: 400; margin-top: -8px;"><p>The Studyard Team</p></span>
            </td>
        </tr>
        <tr>
          <td>
          <span style=" display: block; font-size: 15px; color: #a5c0c7; font-weight: 100; text-align: center; color: #a7afb3; font-size: 12px;"><p>Copyright @mythili . All rights reserved.</p></span><br>

          <span style=" display: block; font-size: 15px; color: #a5c0c7; font-weight: 100; margin-top: -10px; text-align: center; color: #a7afb3; font-size: 12px;"><p>salem, Tamilnadu, India</p></span>
          </td>
        </tr>
    </table>
  </div>





















