* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 225px;
}

.body {
  width: 100%;
  height: 100vh;
  background-color: #ECF0F1;
  display: flex;
  vertical-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(http://woolyapp.com/content/img/wooly-bg.png);
  background-image: no-repeat;
  background-size: cover;
  font-family: Helvetica, Arial, Verdana, Trebuchet MS;
}
table{
  border-spacing: 0; width:600px; height:669px; border-radius:5px; box-shadow:0 20px 40px rgba(0,0,0,0.20);
}
.row1{
  width:100%; height:325px; background:#F5F5F5;
}
.column1{
  text-align:center; border-radius:5px 5px 0 0;
}
.column1 img{
  border-radius:50%; margin-top: 40px;
}
.column2{
  text-align:center; height: 70px; background-color: #f5f5f5; border-radius: 0px 0px 5px 5px ;margin-top: -20px;
}
