.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #998b8b;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #746e70;
}

.forgot-password {
  text-align: center;
  margin-top: 20px;
}

.forgot-password a {
  color: #a37474;
  text-decoration: none;
}
.new-user{
  margin-left: 50px;
}
.alert p{
  color: red;
  font-size: .8rem;
}
.alert{
  margin-top: -1rem;
  display: flex;
  position: absolute;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  font-family: sans-serif;
}
