<app-Header></app-Header><br>
<!-- menu-bar ends -->
<div class="contact-us">
  <h1 class="heading">Contact Us</h1>
  <!-- <h2 class="sub-heading">We are here to help You !!</h2> -->
</div>
<div class="contact-content">
  <p>
    Thank you for your interest in our Study Matrial Management System. We’ve created
    this form to help you get in touch with the right people. Please fill your
    contact in the list, enter your e-mail address, and type your message below.
    Also you can connect with us through facebook,instagram,twitter and
    whatsapp.We are happy to help you.
  </p>
</div>
<br /><br /><br />
<div class="contact-container">
  <br />
  <div class="sub-container2">
    <br />
    <span class="info">Reach Us</span>
    <div style="margin-bottom: 30px"></div>
 <hr>
    <div style="margin-bottom: 30px"></div>

    <form action="" onsubmit="submitted()">
      <label>Name <span class="sp">*</span></label
      ><br />
      <input class="inp" type="text" required /><br /><br />
      <label>Email <span class="sp">*</span></label
      ><br />
      <input class="inp" type="email" required /><br /><br />
      <label>Phone <span class="sp">*</span></label
      ><br />
      <input class="inp" type="text" required /><br /><br />
      <label>Message <span class="sp">*</span></label
      ><br />
      <textarea rows="5" name="Message" class="inp"> </textarea>
      <input class="btnn" type="submit" value="Submit" id="submit-button" />
    </form>
  </div>
</div><br><br><br><br>
<app-footer></app-footer>

