<app-teacher-header></app-teacher-header>

<div class="form">
  <form action="" [formGroup]="materialsAddForm">
    <div class="whole-div">
      <div class="department-details">
        <h2>Department Details </h2>
        <label for="Department-name">Department Name</label>
        <br>
        <select name="Department-name" id="Department-name" formControlName="DepartmentName" class="selectname">
          <option disabled selected>select</option>
          <option value="CSE">CSE</option>
          <option value="ECE">ECE</option>
          <option value="EEE">EEE</option>
          <option value="IT">IT</option>
        </select>

        <br>
        <div>
          <label for="Department-fullform">Department Name in Fullform</label>
          <input type="text" id="Department-fullform" name="Department-fullform" formControlName="title">
          <div *ngIf="materialsAddForm.controls['title'].dirty" class="alert">
            <p *ngIf="materialsAddForm.controls['title'].errors?.['required']">
              Department Name should not be Empty
            </p>
            <p *ngIf="materialsAddForm.controls['title'].errors?.['pattern']">
              Department Name should be a text
            </p>
          </div>
        </div>
        <br>

        <label for="Yearinwords">Year of Handling</label>
        <br>
        <select name="Yearinwords" id="Yearinwords" formControlName="Subtitle" class="selectname">

          <option disabled selected>select</option>
          <option value="First Year Subjects">First Year Subjects</option>
          <option value="Second Year Subjects">Second Year Subjects</option>
          <option value="Third Year Subjects">Third Year Subjects</option>
          <option value="Final Year Subjects">Final Year Subjects</option>

        </select>

        <br>
        <div>
          <label for="Department-year"> Year in Number</label>
          <input type="text" id="Department-year" name="Departmentyear" formControlName="SubjectYear">
          <div *ngIf="materialsAddForm.controls['SubjectYear'].dirty" class="alert">
            <p *ngIf="materialsAddForm.controls['SubjectYear'].errors?.['required']">
              Year should not be Empty
            </p>
            <p *ngIf="materialsAddForm.controls['SubjectYear'].errors?.['pattern']">
              Year should be a valid
            </p>
          </div>
        </div>
      </div>

      <br>

      <hr>
      <br>
      <div class="Images">

        <h2>Add Images</h2>
        <label for="image-URL">Image URL</label>
        <input type="url" id="image-URL" name="image-URL" formControlName="ImagesUrl" />
        <div *ngIf="materialsAddForm.controls['ImagesUrl'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['ImagesUrl'].errors?.['required']">
            Image URL should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['ImagesUrl'].errors?.['pattern']">
            Image URL should be a valid
          </p>
        </div>
        <br>

        <label for="Subject-code">Subject Code</label>
        <input type="text" id="Subject-code" name="Subject-code" formControlName="SubjectCode">
        <div *ngIf="materialsAddForm.controls['SubjectCode'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['SubjectCode'].errors?.['required']">
            Subject code should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['SubjectCode'].errors?.['pattern']">
            Subject code should be a valid
          </p>
        </div>

        <br>

        <label for="Subject-name">Subject Name</label>
        <input type="text" id="Subject-name" name="Subject-name" formControlName="SubjectName">
        <div *ngIf="materialsAddForm.controls['SubjectName'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['SubjectName'].errors?.['required']">
            Subject name should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['SubjectName'].errors?.['pattern']">
            Subject name should be a valid
          </p>
        </div>
        <br>

        <label for="subyear">Subject Year</label>
        <input type="text" id="subyear" name="subyear" formControlName="Yearnames">
        <div *ngIf="materialsAddForm.controls['Yearnames'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['Yearnames'].errors?.['required']">
            Year should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['Yearnames'].errors?.['pattern']">
            Year should be in text
          </p>
        </div>
        <br>
      </div>
      <br>
      <hr>
      <br>


      <div class="Videos">
        <h2>Add Video Link</h2>
        <label for="Videoheading-1">Video Heading-1</label>
        <input type="text" id="Videoheading-1" name="Videoheading-1" formControlName="Videoheading1">
        <div *ngIf="materialsAddForm.controls['Videoheading1'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['Videoheading1'].errors?.['required']">
           Video heading should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['Videoheading1'].errors?.['pattern']">
           Video heading should be in text
          </p>
        </div>
        <br>

        <label for="VideoLink-1">Video Link-1</label>
        <input type="url" id="VideoLink-1" name="VideoLink-1" formControlName="VideoLink1">
        <div *ngIf="materialsAddForm.controls['VideoLink1'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['VideoLink1'].errors?.['required']">
            Video link should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['VideoLink1'].errors?.['pattern']">
            Video link should be a valid
          </p>
        </div>
        <br>

        <label for="Videoheading-2">Video Heading-2</label>
        <input type="text" id="Videoheading-2" name="Videoheading-2" formControlName="Videoheading2">
        <div *ngIf="materialsAddForm.controls['Videoheading2'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['Videoheading2'].errors?.['required']">
           Video heading should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['Videoheading2'].errors?.['pattern']">
           Video heading should be in text
          </p>
        </div>
        <br>

        <label for="VideoLink-2">Video Link-2</label>
        <input type="url" id="VideoLink-2" name="VideoLink-2" formControlName="VideoLink2">
        <div *ngIf="materialsAddForm.controls['VideoLink2'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['VideoLink2'].errors?.['required']">
            Video link should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['VideoLink2'].errors?.['pattern']">
            Video link should be a valid
          </p>
        </div>
        <br>

        <label for="Videoheading-3">Video Heading-3</label>
        <input type="text" id="Videoheading-3" name="Videoheading-3" formControlName="Videoheading3">
        <div *ngIf="materialsAddForm.controls['Videoheading3'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['Videoheading3'].errors?.['required']">
           Video heading should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['Videoheading3'].errors?.['pattern']">
           Video heading should be in text
          </p>
        </div>
        <br>

        <label for="VideoLink-3">Video Link-3</label>
        <input type="url" id="VideoLink-3" name="VideoLink-3" formControlName="VideoLink3">
        <div *ngIf="materialsAddForm.controls['VideoLink3'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['VideoLink3'].errors?.['required']">
            Video link should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['VideoLink3'].errors?.['pattern']">
            Video link should be a valid
          </p>
        </div>
        <br>

        <label for="Videoheading-4">Video Heading-4</label>
        <input type="text" id="Videoheading-4" name="Videoheading-4" formControlName="Videoheading4">
        <div *ngIf="materialsAddForm.controls['Videoheading4'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['Videoheading4'].errors?.['required']">
           Video heading should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['Videoheading4'].errors?.['pattern']">
           Video heading should be in text
          </p>
        </div>
        <br>

        <label for="VideoLink-4">Video Link-4</label>
        <input type="url" id="VideoLink-4" name="VideoLink-4" formControlName="VideoLink4">
        <div *ngIf="materialsAddForm.controls['VideoLink4'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['VideoLink4'].errors?.['required']">
            Video link should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['VideoLink4'].errors?.['pattern']">
            Video link should be a valid
          </p>
        </div>
        <br>

        <label for="Videoheading-5">Video Heading-5</label>
        <input type="text" id="Videoheading-5" name="Videoheading-5" formControlName="Videoheading5">
        <div *ngIf="materialsAddForm.controls['Videoheading5'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['Videoheading5'].errors?.['required']">
           Video heading should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['Videoheading5'].errors?.['pattern']">
           Video heading should be in text
          </p>
        </div>
        <br>

        <label for="VideoLink-5">Video Link-5</label>
        <input type="url" id="VideoLink-5" name="VideoLink-5" formControlName="VideoLink5">
        <div *ngIf="materialsAddForm.controls['VideoLink5'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['VideoLink5'].errors?.['required']">
            Video link should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['VideoLink5'].errors?.['pattern']">
            Video link should be a valid
          </p>
        </div>
      </div>
      <br><br>
      <hr><br>

      <div class="Notes">
        <h2>Add Notes Link</h2>
        <label for="NotesLink-1">Notes Link-1</label>
        <input type="url" id="NotesLink-1" name="NotesLink-1" formControlName="NotesLink1">
        <div *ngIf="materialsAddForm.controls['NotesLink1'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['NotesLink1'].errors?.['required']">
            Notes should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['NotesLink1'].errors?.['pattern']">
            Notes should be a valid
          </p>
        </div>
        <br>
        <label for="NotesLink-2">Notes Link-2</label>
        <input type="url" id="NotesLink-2" name="NotesLink-2" formControlName="NotesLink2">
        <div *ngIf="materialsAddForm.controls['NotesLink2'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['NotesLink2'].errors?.['required']">
            Notes should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['NotesLink2'].errors?.['pattern']">
            Notes should be a valid
          </p>
        </div>
        <br>
        <label for="NotesLink-3">Notes Link-3</label>
        <input type="url" id="NotesLink-3" name="NotesLink-3" formControlName="NotesLink3">
        <div *ngIf="materialsAddForm.controls['NotesLink3'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['NotesLink3'].errors?.['required']">
            Notes should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['NotesLink3'].errors?.['pattern']">
            Notes should be a valid
          </p>
        </div>
        <br>
        <label for="NotesLink-4">Notes Link-4</label>
        <input type="url" id="NotesLink-4" name="NotesLink-4" formControlName="NotesLink4">
        <div *ngIf="materialsAddForm.controls['NotesLink4'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['NotesLink4'].errors?.['required']">
            Notes should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['NotesLink4'].errors?.['pattern']">
            Notes should be a valid
          </p>
        </div>
        <br>
        <label for="NotesLink-5">Notes Link-5</label>
        <input type="url" id="NotesLink-5" name="NotesLink-5" formControlName="NotesLink5">
        <div *ngIf="materialsAddForm.controls['NotesLink5'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['NotesLink5'].errors?.['required']">
            Notes should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['NotesLink5'].errors?.['pattern']">
            Notes should be a valid
          </p>
        </div>

      </div>
      <br><br>
      <hr><br>
      <div class="question">
        <h2>Add Questionpaper Link</h2>
        <label for="questionpaper-1">Question paper Link-1</label>
        <input type="url" id="questionpaper-1" name="questionpaper-1" formControlName="QuestionpaperLink1">
        <div *ngIf="materialsAddForm.controls['QuestionpaperLink1'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['QuestionpaperLink1'].errors?.['required']">
            Questionpaper link should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['QuestionpaperLink1'].errors?.['pattern']">
            Questionpaper link should be a valid
          </p>
        </div>
        <br>
        <label for="questionpaper-2">Question paper Link-2</label>
        <input type="url" id="questionpaper-2" name="questionpaper-2" formControlName="QuestionpaperLink1">
        <div *ngIf="materialsAddForm.controls['QuestionpaperLink1'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['QuestionpaperLink1'].errors?.['required']">
            Questionpaper link should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['QuestionpaperLink1'].errors?.['pattern']">
            Questionpaper link should be a valid
          </p>
        </div>
      </div>

      <br><br>
      <hr><br>
      <div class="Syllabus">
        <h2>Add Syllabus Link</h2>
        <label for="Syllabus">Syllabus Link</label>
        <input type="url" id="Syllabus" name="Syllabus" formControlName="SyllabusLink">
        <div *ngIf="materialsAddForm.controls['SyllabusLink'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['SyllabusLink'].errors?.['required']">
           Syllabus link should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['SyllabusLink'].errors?.['pattern']">
           Syllabus link should be a valid
          </p>
        </div>
        <br>
      </div>
      <br><br>
      <hr><br>
      <div class="Labmanual">
        <h2>Add Lab Manual Link</h2>
        <label for="Manual">Manual Link</label>
        <input type="url" id="Manual" name="Manual" formControlName="ManualLink">
        <div *ngIf="materialsAddForm.controls['ManualLink'].dirty" class="alert">
          <p *ngIf="materialsAddForm.controls['ManualLink'].errors?.['required']">
           Manual should not be Empty
          </p>
          <p *ngIf="materialsAddForm.controls['ManualLink'].errors?.['pattern']">
           Manual should be a valid
          </p>
        </div>
      </div>
      <button id="button" (click)="submitMaterials()" class="submit-button" [disabled]="!this.materialsAddForm.valid">
        Submit</button>
    </div>
    \
  </form>

</div>
