<app-admin-header></app-admin-header>
<div class="body-content">

  <div class="imagess">
    <img
      src="https://img.freepik.com/free-photo/front-view-young-beautiful-lady-red-t-shirt-black-jeans-holding-different-copybooks-files-smiling-with-bag-white_140725-18639.jpg?w=1060&t=st=1684051141~exp=1684051741~hmac=4268b42dad74d80700c1a0c2c55f2a62c7b48698b46167d4f730fc358655f139"
      alt="images">
  </div>
  <!-- <img id="logoimage" src="../Static/images/My project.png" onmouseover="logobig(this)" onmouseout="logosmall(this)"
      alt="image" width="70px" height="70px"><br><br><br> -->
  <h1><br><br>BUILD EDUCATION<br>&nbsp;&nbsp;WEBSITE USING<br>&nbsp;&nbsp;&nbsp;</h1>
  <div class="span">
    <span>Studyard</span>

  </div>
  <div class="cap" style="margin-top: -2%;font-size: 25px;margin-left: 28%;">
    <i class="fa fa-graduation-cap" aria-hidden="true"></i>

  </div>
  <!--
  <h2> WELCOMES YOU !...</h2><br><br><br>
  <p><b>" Today is a great day to learn something new !..."</b></p><br><br><br><br><br><br><br> -->
</div>
<br><br><br><br><br><br>
<div class="content">
<main>
  <div class="cards">
    <div class="card-single" style="text-justify: auto;">
      <div>
        <h2>No. of Students</h2>
        <h2>500+</h2>
      </div>
      <span class="fa fa-graduation-cap" style="color:rgb(238, 238, 41);"></span>
      <div>

        <span class="fa fa-group"></span>
      </div>
    </div>

    <div class="card-single">
      <div>
        <h2>No. of Faculty</h2>
        <h2>30+</h2>
      </div>
      <div>
        <span class="fa fa-user"></span>
      </div>
    </div>
    <div class="card-single">
      <div>
        <h2>Departments</h2>
        <h2>4</h2>
      </div>
      <div>
        <span class="fa fa-outdent"></span>
      </div>
    </div>
    <div class="card-single">
      <div>
        <h2>Subjects</h2>
        <h2>40+</h2>
      </div>
      <div>

        <span class="fa-solid fa-book"></span>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="cse">
      <h1>CSE</h1>
      <div class="br">
      </div>
      <div class="break1"></div>
    </div>

    <div class="classes">
      <div class="class">
        <h2>Notes - 10 +</h2>
      </div>
      <div class="class">
        <h2>Syllabus - 4 </h2>
        <h2></h2>
      </div>
      <div class="class">
        <h2>Video Links - 10 +</h2>
        <h2></h2>
      </div>
      <div class="class">
        <h2>Old Question Papers - 8</h2>
        <h2></h2>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="cse">
      <h1>ECE</h1>
      <div class="br">
      </div>
      <div class="break2"></div>
    </div>

    <div class="classes">
      <div class="class">
        <h2>Notes - 12 +</h2>
        <h2></h2>
      </div>
      <div class="class">
        <h2>Syllabus - 8</h2>
        <h2></h2>
      </div>
      <div class="class">
        <h2>Video Links - 9 +</h2>
        <h2></h2>
      </div>
      <div class="class">
        <h2>Old Question Papers - 4</h2>
        <h2></h2>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="cse">
      <h1>EEE</h1>
      <div class="br">
      </div>
      <div class="break3"></div>
    </div>

    <div class="classes">
      <div class="class">
        <h2>Notes - 15 +</h2>
        <h2></h2>
      </div>
      <div class="class">
        <h2>Syllabus - 6 </h2>
        <h2></h2>
      </div>
      <div class="class">
        <h2>Video Links - 10 +</h2>
        <h2></h2>
      </div>
      <div class="class">
        <h2>Old Question Papers - 7</h2>
        <h2></h2>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="cse">
      <h1> &nbsp;&nbsp;IT</h1>
      <div class="br">
      </div>
      <div class="break4"></div>
    </div>

    <div class="classes">
      <div class="class">
        <h2>Notes - 14 +</h2>
        <h2></h2>
      </div>
      <div class="class">
        <h2>Syllabus - 6</h2>
        <h2></h2>
      </div>
      <div class="class">
        <h2>Video Links - 15 +</h2>
        <h2></h2>
      </div>
      <div class="class">
        <h2>Old Question Papers - 7</h2>
        <h2></h2>
      </div>
    </div>
  </div>

  <br><br><br>
</main>

</div>
