
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  font-family: sans-serif;
}

.heading1 {
  text-align: center;
  /* margin: 3%; */
  font-family: sans-serif;
  font-size: 25px;
  color: #a87567;
  /* border: 1px solid #3d3431; */
  margin-left: 30%;
  margin-right: 30%;
  /* padding: 10px 0px; */
  border-radius: 7px;
}
.heading2   {
  font-family: 'Times New Roman', Times, serif!important;
  font-size: 26px;
  color: #a87567;
  text-align: center;
  /* font-weight: 600; */

  margin-top: 20px;
  letter-spacing: 1px;
  font-style: italic;
}



.about {
  display: flex;
  margin: 2%;
  margin-right: 10%;
  /* margin-top: -1%; */
}

.about .about-para {
  text-align: justify;
  display: flex;
  /* margin-left: 5%; */
  /* margin-right: 10%; */
  font-size: 20px;
  /* row-gap: 2px; */
  letter-spacing:0.9px;
  float: left;
  padding-left: 40px;
}

.about-para {
  float: left;
}

.about-para img {
  padding-left: 20px;
  width: 400px;
  height: 350px;
  border-radius: 30px;
}

.about-images {
  padding-left: 140px;
}

.study-material_div-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 3rem !important;
}
.study-material_div-1:hover{
transform: scale(0.9);
}

.study-material_div-2 {
  height: 100% !important;
  display: inline-block !important;
  margin-bottom: 30px;
  box-shadow: 0 8px 20px -2px rgba(158, 152, 153, .5);
  padding: 30px 30px;
  border-radius: 20px;
  margin-bottom: 50px;
  min-height: 435px;
}

.study-material_div-3 i {
  background: linear-gradient(to left, #22a75a, #1b9e52);
  height: 80px;
  width: 80px;
  line-height: 50px;
  padding: 20px 0 20px 0;
  display: inline-block;
  color: #fff !important;
  border-radius: 50px;
  box-shadow: 10px -10px 0 0 rgba(37, 170, 93, .37)
}

.study-material_div-3 {
  text-align: center !important;
}

.process_header_main .mt-3 {
  margin-top: 1rem !important;
}

.features_icon_box h5 {
  text-align: center !important;
  padding-left: 0;
}

.text-center h5 {
  text-align: center !important;
}

.features_icon_box .text-center {
  text-align: center !important;
}

.text-capitalize {
  text-transform: capitalize !important;
  font-size: 25px;
  margin-top: 1.5rem !important;
  padding-bottom: .5rem !important;
  font-weight: 700;
}

.m-0 .p-0 {
  margin: 0 !important;
  padding: 0 !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.study-material_div-4 {
  margin-top: 1rem !important;
  text-align: center !important;
  padding-left: 0;
  margin-top: 1rem !important;
}

.whole-div {
  display: flex;
  margin-top: 5%;
  margin-left: 15%;
}

.process_header_main ul{
    padding-top:15px ;
    padding-left: 15px;
}

.process_header_main li{
  padding-top:22px ;
  font-size: 16px;
}
.teachers {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  color: rgba(165, 42, 42, 0.537);
  font-family: 'Times New Roman', Times, serif;

}

.details-container {
  display: flex;
  justify-content: space-evenly;
  border: #055615;

}

.icons {
  box-shadow: 1px 1px 1px 1px rgba(83, 73, 73, 0.953);
  border-radius: 15px;
  padding: 30px 60px 30px 60px;
  text-align: center;
  cursor: pointer;

  /* background-color: rgba(193, 219, 199, 0.115); */
}

.icons:hover {
  background-color: rgba(229, 190, 190, 0.397);
  transform: scale(0.9);
}

.icons i {
  font-size: 45px;
  color: #ccb4ba;
  cursor: pointer;
}

.icons span {
  padding-top: 20px;
  font-size: 35px;
  color: #966a75;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.icons p {
  padding-top: 10px;
  font-size: 25px;
  color: #bc4e60;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
