<app-Header></app-Header>
<main>
  <header>
    <br><br><br><br>
    <h1 class="heading1">YOURS STUDYARD</h1><br>
    <h2 class="heading2">“We learn from failure, not from success!”</h2> <br>
    <div class="about">
      <div class="about-para">
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to Study Material
          Management System, your go-to platform for managing your study
          materials more efficiently and effectively. Our system helps you
          organize your study materials in one place, making it easier for you
          to access them anytime and anywhere. Our team of experts has developed
          this platform keeping in mind the needs of students and professionals
          who struggle with managing their study materials. We understand the
          challenges of staying organized while studying, and our system is
          designed to simplify the process for you. With our user-friendly
          interface, you can easily upload and categorize your study materials,
          create notes, set reminders, and track your progress. Our system is
          also secure and reliable, ensuring the safety of your data at all
          times. Thank you for choosing Study Material Management System. We are
          committed to providing you with the best possible user experience and
          helping you achieve your academic and professional goals.“Learning is
          not attained by chance; it must be
          sought for with ardor and diligence.”– Abigail Adams. ...
        </p>
        <div class="about-images">
          <img src="../../assets/jaredd-craig-HH4WBGNyltc-unsplash.jpg" alt="images" />
        </div>
      </div>
    </div>
  </header>
</main>
<br /><br />
<div class="whole-div">
  <div class="study-material_div-1">
    <div class="study-material_div-2">
      <div class="study-material_div-3">
        <img src="../../assets/about-student.png" alt="edecofy-institute-software" />
      </div>

      <div class="process_header_main mt-3">
        <div class="features_icon_box text-center">
          <h5 class="text-capitalize">Study Materials</h5>
        </div>

        <ul class="list-style-1 m-0 p-0 pb-3">
          <li>Study Materials and inventory management</li>

          <li>Managing study material prices and purchase</li>

          <li>Student transactions</li>

          <li>Ordering management</li>

          <li>Current availability status</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="study-material_div-1">
    <div class="study-material_div-2">
      <div class="study-material_div-3">
        <img src="../../assets/about-syllabus.png" alt="edecofy-institute-software" />
      </div>

      <div class="process_header_main mt-3">
        <div class="features_icon_box text-center">
          <h5 class="text-capitalize font-weight-bold mt-4 pb-2">
            Syllabus Management
          </h5>
        </div>

        <ul class="list-style-1 m-0 p-0 pb-3">
          <li>subject management system</li>

          <li>Preparing and managing Syllabus</li>

          <li>Easy addition and modification features</li>

          <li>Flexible provisions to meet the learning phase</li>

          <li>Easy to make changes</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="whole-div">
  <div class="study-material_div-1">
    <div class="study-material_div-2">
      <div class="study-material_div-3">
        <img src="../../assets/about-exam.png" alt="edecofy-institute-software" />
      </div>

      <div class="process_header_main mt-3">
        <div class="features_icon_box text-center">
          <h5 class="text-capitalize font-weight-bold mt-4 pb-2">
            Examination Management
          </h5>
        </div>

        <ul class="list-style-1 m-0 p-0 pb-3">
          <li>Exam list creation</li>

          <li>Exam Marks management</li>

          <li>Facility to quickly send marks</li>

          <li>Creating examination grades</li>

          <li>Online question paper creation,management</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="study-material_div-1">
    <div class="study-material_div-2">
      <div class="study-material_div-3">
        <img src="../../assets/about-stu manage.png" alt="edecofy-institute-software" />
      </div>

      <div class="process_header_main mt-3">
        <div class="features_icon_box text-center">
          <h5 class="text-capitalize font-weight-bold mt-4 pb-2">
            Student Management
          </h5>
        </div>

        <ul class="list-style-1 m-0 p-0 pb-3">
          <li>General student info like name,address,images</li>

          <li>ID Number</li>

          <li>Dormitory</li>

          <li>Student Profile Editable</li>

          <li>Class Section</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<h1 class="teachers">Teachers with us !..</h1><br>
<br>

<section class="details-container">
  <div class="icons">
    <i class="fa-solid fa-chalkboard-user"></i><br>
    <span>40%</span>
    <p>Mastered proffessor</p>
  </div>

  <div class="icons">
    <i class="fa-solid fa-chalkboard-user"></i><br>
    <span>25%</span>
    <p>Doctrated Proffessor</p>
  </div>

  <div class="icons">
    <i class="fa-solid fa-bookmark"></i><br>
    <span>35%</span>
    <p>Certified Proffessor</p>
  </div>
</section>
<br><br><br>
<br><br>
<app-footer></app-footer>
