<app-teacher-header></app-teacher-header>
<form action="" [formGroup]="registerForm" (ngSubmit)="submitForm()">
  <label for="query-title">Query Title:</label>
  <input type="text" id="query-title" name="query-title" required formControlName="namevalue">
   <p *ngIf="registerForm.controls['namevalue'].errors?.['required']"></p>
  <label for="query-description">Description:</label>
  <textarea id="query-description" name="query-description" required formControlName="textvalue"></textarea>
   <p *ngIf="registerForm.controls['textvalue'].errors?.['required']"></p>
  <input type="submit" value="Submit">
</form>

<h2>Query  Details</h2><br>
<table>
  <tr>
    <th>Query Title</th>
    <th>Description </th>
    <th>Admin Response</th>
</tr>

<tr style="text-align: center;" *ngFor="let user Of query">
  <td>{{user.QueryTitle}}</td>
  <td> {{user.Description}}</td>
  <td> {{user.mobilevalue}}</td>
  </tr>
</table>
<br><br><br>
